/* #
	Theme Name: Utility Pro
	Description: No-nonsense, functional child theme created for the Genesis Framework.
	Author: Carrie Dils
	Author URI: http://www.carriedils.com/
	Version: 1.1.1
	Tags: black, purple, green, blue, red, one-column, two-columns, fixed-width, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, rtl-language-support, translation-ready
	Template: genesis
	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
	Text Domain: utility-pro
*/
/* # Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Theme Colors
		- Purple
		- Green
		- Red
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Sidebar
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Media Gallery
		- Genesis
	- Widgets
		- Utility Bar
		- Home Welcome
		- Home Gallery
		- Call to Action
		- Featured Page and Featured Post
		- Footer Widgets
	- Plugins
		- Better Font Awesome
		- Genesis eNews Extended
		- Gravity Forms
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Mobile Menu Toggle
		- Header Navigation
		- Primary & Secondary Navigation
	- Content Area
		- Titles
		- Entries
		- Featured Image
		- Pagination
		- Comments
	- Sidebars
	- Site Footer
	- Accessibility Extras
	- Print Media Query
*/
/* Import External Libraries */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* Import Theme Partials */
/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* Baseline Normalize
	normalize.css v2.1.3 | MIT License | git.io/normalize
--------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box Sizing
--------------------------------------------- */
*,
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Float Clearing
--------------------------------------------- */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-footer:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-footer:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table;
}

/*
Defaults
---------------------------------------------------------------------------------------------------- */
/* Typographical Elements
--------------------------------------------- */
body {
  background: #fff;
  color: #545454;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.625;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.gallery img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  color: #0964dd;
  border-bottom: 1px dotted;
  font-weight: 700;
  text-decoration: none;
  word-wrap: break-word;
}

a img {
  margin-bottom: -4px;
}

a:hover {
  color: #545454;
}

p {
  margin: 0 0 24px;
  padding: 0;
}

strong {
  font-weight: 700;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

blockquote {
  color: #000;
  margin: 0;
  padding: 24px 40px;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-family: Roboto Slab, serif;
  font-size: 120px;
  height: 0;
  left: -55px;
  position: relative;
  top: -55px;
}

pre {
  background: #1c1c1c;
  color: #c9c9c9;
  overflow: scroll;
  padding: 0 20px;
  white-space: pre;
}

cite {
  font-style: italic;
  font-weight: 700;
}

/* Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1c1c;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/* Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  width: auto;
  /* IE8 */
}

/* Forms
--------------------------------------------- */
input,
textarea {
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #545454;
  font-size: 13px;
  padding: 16px;
  width: 100%;
}

::-moz-placeholder {
  color: #545454;
}

::-webkit-input-placeholder {
  color: #545454;
}

.button,
.entry-content a.button,
input[type="submit"] {
  background: #0964dd;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus,
.entry-content a.button:focus {
  background-color: #fff;
  color: #0964dd;
}

.button {
  display: inline-block;
}

.button:hover,
.entry-content a.button:hover,
input:hover[type="submit"] {
  background-color: #fff;
  border: 1px solid #0964dd;
  color: #0964dd;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

.search-form {
  position: relative;
}

.search-form [type="submit"] {
  background-color: transparent;
  background: url(images/icon-search-ltr.png) no-repeat 75% 53% #fff;
  border: 1px solid #d9d9d9;
  box-shadow: none;
  height: 53px;
  margin: 0;
  overflow: hidden;
  padding: 0 42px 0 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  vertical-align: top;
  width: 53px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.search-form input[type="submit"]:focus,
.search-form input[type="submit"]:hover {
  background-color: #8f8f8f;
  background-position: 20% 53%;
  text-indent: -9999px;
}

/* Tables
--------------------------------------------- */
table {
  margin-bottom: 40px;
  max-width: 100%;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  margin-bottom: 40px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #d9d9d9;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #d9d9d9;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #d9d9d9;
}

.table .table {
  background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #d9d9d9;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #d9d9d9;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ebebeb;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #ebebeb;
}

/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* Site Containers
--------------------------------------------- */
.wrap {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 100%;
  word-wrap: break-word;
}
@media screen and (min-width: 1024px) {
  .wrap {
    max-width: 960px;
  }
}
@media screen and (min-width: 1180px) {
  .wrap {
    max-width: 1140px;
    padding: 0;
  }
}

.site-inner {
  background: whitesmoke;
  padding-top: 40px;
}

.utility-landing .site-container {
  margin: 40px auto;
  max-width: 960px;
}

/* Content & Primary Sidebar
--------------------------------------------- */
@media screen and (min-width: 1024px) {
  .content {
    float: right;
    display: block;
    margin-left: 2.35765%;
    width: 65.88078%;
    margin-left: 0;
  }
  .content:last-child {
    margin-left: 0;
  }

  .sidebar-primary {
    float: right;
    display: block;
    margin-left: 2.35765%;
    width: 31.76157%;
  }
  .sidebar-primary:last-child {
    margin-left: 0;
  }
}
/*
Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar {
  font-size: 15px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar li {
  list-style-type: none;
  margin-bottom: 6px;
  padding: 0;
}

.sidebar .widget {
  background: #fff;
  border-top: 1px solid #1c1c1c;
  margin-bottom: 40px;
  padding: 40px;
}

.sidebar .widget-wrap {
  border-top: 5px solid #1c1c1c;
  margin-left: 4px;
}

.sidebar .search-form input[type="search"] {
  width: 100%;
}

/* Column Widths and Positions
--------------------------------------------- */
.full-width-content .content {
  float: none;
  margin: 0 auto;
  max-width: 780px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .content-sidebar .content,
  .sidebar-content .sidebar-primary {
    float: left;
  }
}
/* Column Classes
Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */
@media screen and (min-width: 320px) {
  .one-half,
  .three-sixths,
  .two-fourths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .one-half:last-child,
  .three-sixths:last-child,
  .two-fourths:last-child {
    margin-right: 0;
  }

  .one-third,
  .two-sixths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .one-third:last-child,
  .two-sixths:last-child {
    margin-right: 0;
  }

  .four-sixths,
  .two-thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .four-sixths:last-child,
  .two-thirds:last-child {
    margin-right: 0;
  }

  .one-fourth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .one-fourth:last-child {
    margin-right: 0;
  }

  .three-fourths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  .three-fourths:last-child {
    margin-right: 0;
  }

  .one-sixth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .one-sixth:last-child {
    margin-right: 0;
  }

  .five-sixths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
  }
  .five-sixths:last-child {
    margin-right: 0;
  }

  .last {
    margin-right: 0;
    clear: right;
  }
}
/*
Common Classes
---------------------------------------------------------------------------------------------------- */
/* Avatar
--------------------------------------------- */
.avatar {
  float: left;
}

.author-box .avatar,
.alignleft .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

/* WordPress
--------------------------------------------- */
address {
  margin-bottom: 24px;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0;
}

img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
  margin-bottom: 24px;
}

.wp-caption-text {
  font-size: 11px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.wp-caption {
  max-width: 100%;
}

.widget_calendar table td {
  padding: 5px;
}

/* Media Gallery
--------------------------------------------- */
.gallery {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.gallery::after {
  clear: both;
  content: "";
  display: table;
}

.gallery-item {
  display: inline-block;
  line-height: 0;
  list-style: none;
  margin: 0 0 2.35765%;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .gallery-columns-0 .gallery-item, .gallery-columns-1 .gallery-item, .gallery-col-0 .gallery-item, .gallery-col-1 .gallery-item {
    width: 100%;
  }
  .gallery-columns-2 .gallery-item, .gallery-col-2 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .gallery-columns-2 .gallery-item:last-child, .gallery-col-2 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-2 .gallery-item:nth-child(2n), .gallery-col-2 .gallery-item:nth-child(2n) {
    margin-right: 0;
  }
  .gallery-columns-2 .gallery-item:nth-child(2n+1), .gallery-col-2 .gallery-item:nth-child(2n+1) {
    clear: left;
  }
  .gallery-columns-3 .gallery-item, .gallery-col-3 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .gallery-columns-3 .gallery-item:last-child, .gallery-col-3 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-3 .gallery-item:nth-child(3n), .gallery-col-3 .gallery-item:nth-child(3n) {
    margin-right: 0;
  }
  .gallery-columns-3 .gallery-item:nth-child(3n+1), .gallery-col-3 .gallery-item:nth-child(3n+1) {
    clear: left;
  }
  .gallery-columns-4 .gallery-item, .gallery-col-4 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .gallery-columns-4 .gallery-item:last-child, .gallery-col-4 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-4 .gallery-item:nth-child(4n), .gallery-col-4 .gallery-item:nth-child(4n) {
    margin-right: 0;
  }
  .gallery-columns-4 .gallery-item:nth-child(4n+1), .gallery-col-4 .gallery-item:nth-child(4n+1) {
    clear: left;
  }
  .gallery-columns-5 .gallery-item, .gallery-col-5 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.11388%;
  }
  .gallery-columns-5 .gallery-item:last-child, .gallery-col-5 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-5 .gallery-item:nth-child(5n), .gallery-col-5 .gallery-item:nth-child(5n) {
    margin-right: 0;
  }
  .gallery-columns-5 .gallery-item:nth-child(5n+1), .gallery-col-5 .gallery-item:nth-child(5n+1) {
    clear: left;
  }
  .gallery-columns-6 .gallery-item, .gallery-col-6 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .gallery-columns-6 .gallery-item:last-child, .gallery-col-6 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-6 .gallery-item:nth-child(6n), .gallery-col-6 .gallery-item:nth-child(6n) {
    margin-right: 0;
  }
  .gallery-columns-6 .gallery-item:nth-child(6n+1), .gallery-col-6 .gallery-item:nth-child(6n+1) {
    clear: left;
  }
  .gallery-columns-7 .gallery-item, .gallery-col-7 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 12.22831%;
  }
  .gallery-columns-7 .gallery-item:last-child, .gallery-col-7 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-7 .gallery-item:nth-child(7n), .gallery-col-7 .gallery-item:nth-child(7n) {
    margin-right: 0;
  }
  .gallery-columns-7 .gallery-item:nth-child(7n+1), .gallery-col-7 .gallery-item:nth-child(7n+1) {
    clear: left;
  }
  .gallery-columns-8 .gallery-item, .gallery-col-8 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 10.43705%;
  }
  .gallery-columns-8 .gallery-item:last-child, .gallery-col-8 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-8 .gallery-item:nth-child(8n), .gallery-col-8 .gallery-item:nth-child(8n) {
    margin-right: 0;
  }
  .gallery-columns-8 .gallery-item:nth-child(8n+1), .gallery-col-8 .gallery-item:nth-child(8n+1) {
    clear: left;
  }
  .gallery-columns-9 .gallery-item, .gallery-col-9 .gallery-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 8.98699%;
  }
  .gallery-columns-9 .gallery-item:last-child, .gallery-col-9 .gallery-item:last-child {
    margin-right: 0;
  }
  .gallery-columns-9 .gallery-item:nth-child(9n), .gallery-col-9 .gallery-item:nth-child(9n) {
    margin-right: 0;
  }
  .gallery-columns-9 .gallery-item:nth-child(9n+1), .gallery-col-9 .gallery-item:nth-child(9n+1) {
    clear: left;
  }
}
.gallery-item .gallery-caption {
  -webkit-transition: all, 0.2s ease-in-out;
  -moz-transition: all, 0.2s ease-in-out;
  transition: all, 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 1.65;
  max-height: 50%;
  opacity: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  visibility: hidden;
  width: 100%;
}
.gallery-item:hover .gallery-caption {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
  visibility: visible;
  opacity: 1;
}

.gallery img {
  width: 100%;
  margin: 0 auto;
}

/* Genesis
--------------------------------------------- */
.breadcrumb {
  margin-bottom: 20px;
}

.author-box,
.archive-description {
  background-color: #ebebeb;
  color: #1c1c1c;
  margin-bottom: 40px;
  padding: 40px;
}

.author-box-title {
  font-size: 21px;
  margin-bottom: 10px;
}

.author-box a {
  border-bottom: 1px solid #d9d9d9;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

/*
Widgets
---------------------------------------------------------------------------------------------------- */
/* Utility Bar
--------------------------------------------- */
.utility-bar {
  background-color: rgba(9, 100, 221, 0.9);
  border-bottom: 1px solid #d9d9d9;
  color: #fff;
  font-size: 13px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.utility-bar a {
  color: #fff;
}

.utility-bar a:hover {
  border-bottom: 0;
}

.utility-bar p,
.utility-bar .widgettitle {
  color: #fff;
  margin: 0;
}

.utility-bar .search-form input[type="search"] {
  margin: 0;
  padding: 10px 0;
}

/* Home Welcome
--------------------------------------------- */
.home-welcome {
  background-color: rgba(51, 51, 51, 0.8);
  padding: 40px 0;
  text-align: center;
}

.home-welcome .widgettitle {
  color: #fff;
  text-transform: none;
}
@media screen and (min-width: 768px) {
  .home-welcome .widgettitle {
    font-size: 80px;
  }
}

.home-welcome p,
.home-welcome .textwidget {
  color: #ebebeb;
}
@media screen and (min-width: 768px) {
  .home-welcome p,
  .home-welcome .textwidget {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 34px;
  }
}

/* Call to Action
--------------------------------------------- */
.call-to-action-bar {
  background: #333333;
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .call-to-action-bar {
    text-align: left;
  }
}

.call-to-action-bar .enews p {
  margin: 12px 0;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .call-to-action-bar .enews p {
    clear: left;
    float: left;
    margin-bottom: 0;
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .call-to-action-bar .enews-widget input[type="submit"] {
    float: right;
    margin: -2px 0 0;
    width: 35%;
  }

  .call-to-action-bar .enews form {
    float: right;
    text-align: right;
    width: 60%;
  }

  .call-to-action-bar .enews input[type="email"] {
    height: 57px;
    margin-right: 3px;
    position: relative;
    top: -2px;
    width: 60%;
  }
}
/* Featured Page and Featured Post
--------------------------------------------- */
.featured-content .entry {
  border-bottom: 2px solid #ebebeb;
  padding: 10px 0;
}

.sidebar .featured-content .entry {
  border-bottom: 0;
  margin-bottom: 10px;
}

.featured-content .entry-title {
  font-size: 18px;
  margin: 10px 0;
}

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets {
  background: #1c1c1c;
  color: #fff;
  padding: 40px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  float: left;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3 {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .footer-widgets-1,
  .footer-widgets-2 {
    margin-right: 5%;
  }
}

.footer-widgets a {
  color: #fff;
}

.footer-widgets a:hover {
  color: #c9c9c9;
}

.footer-widgets .widget {
  margin-bottom: 24px;
}

.footer-widgets .widgettitle {
  color: #fff;
  font-size: 20px;
}

.footer-widgets .entry {
  background: transparent;
}

.footer-widgets li {
  list-style-type: none;
  margin-bottom: 6px;
  word-wrap: break-word;
}

.footer-widgets .search-form input[type="search"] {
  width: 100%;
}

/* ##
Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Better Font Awesome
--------------------------------------------- */
a > .fa {
  display: block;
}

li a .fa {
  display: inline-block;
}

/* ## Genesis eNews Extended
--------------------------------------------- */
.enews-widget {
  color: #c9c9c9;
}

.enews-widget a {
  color: #fff;
}

.enews-widget a:hover {
  color: #c9c9c9;
}

.enews-widget .widgettitle {
  color: #fff;
  margin: 0;
}

.enews-widget input {
  margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
  margin: 0;
  width: 100%;
}

.sidebar .enews-widget .widgettitle {
  margin: 10px 0 24px;
}

.sidebar .widget.enews-widget {
  background-color: #1c1c1c;
  border-top: 1px solid #fff;
}

.sidebar .enews-widget .widget-wrap {
  border-top: 5px solid #fff;
}

/* ## Gravity Forms
--------------------------------------------- */
div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
  padding: 16px;
}

div.gform_wrapper .ginput_complex label {
  padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
  margin: 16px 0 0;
}

.sidebar .gform_wrapper .top_label input.medium,
.sidebar .gform_wrapper .top_label select.medium,
.site-inner .gform_wrapper .gform_footer input.button,
.site-inner .gform_wrapper .gform_footer input[type="submit"] {
  width: 100%;
}

div.gform_wrapper input:focus,
div.gform_wrapper textarea:focus {
  outline: 1px dotted #a1a1a1;
}

/* ## Jetpack
--------------------------------------------- */
#wpstats {
  display: none;
  visibility: hidden;
}

/*
Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  background: #fff;
}

.site-header .wrap {
  padding: 20px 0;
}

@media screen and (min-width: 320px) {
  .site-header > .wrap {
    padding: 20px 0 0;
  }
}
@media screen and (min-width: 768px) {
  .site-header > .wrap {
    padding: 20px 0;
  }
}

/* Title Area
--------------------------------------------- */
.title-area {
  font-weight: 700;
  margin: 0 auto;
  padding: 10px 0 15px;
  text-align: center;
  /*	@include media($tablet-wide-up) {
  		text-align: left;
  		width: 50%;
  	}*/
}
@media screen and (min-width: 768px) {
  .title-area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    float: left;
    margin-top: 10px;
    padding: 0;
    text-align: left;
  }
  .title-area:last-child {
    margin-right: 0;
  }
}

.site-title {
  letter-spacing: 1px;
  line-height: 1;
  margin: 0 0 8px;
  text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
  border: 0;
  color: #1c1c1c;
  font-family: Roboto Condensed, "Helvetica Neue", Helvetica, Arial, sans-s;
  font-size: 27px;
}

.site-description {
  color: #545454;
  font-size: 15px;
  line-height: 1;
  margin: 0;
}

/* Full width header, no widgets */
.header-full-width .title-area,
.header-full-width .site-title {
  width: 100%;
}

.header-image .site-description,
.header-image .site-title {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 300px;
}
@media screen and (min-width: 414px) {
  .header-image .site-description,
  .header-image .site-title {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .header-image .site-description,
  .header-image .site-title {
    margin: 0 auto;
  }
}

/* Logo, hide text */
.header-image .site-title > a {
  background: url(images/logo.png) no-repeat center;
  background-size: 300px 72px !important;
  float: left;
  min-height: 72px;
  width: 100%;
}
@media screen and (min-width: 414px) {
  .header-image .site-title > a {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .header-image .site-title > a {
    background: url(images/logo.png) no-repeat left;
    background-size: 300px 72px !important;
  }
}

/* Header Right Widget Area
--------------------------------------------- */
.site-header .widget-area {
  float: right;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .site-header .widget-area {
    text-align: right;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0;
  }
  .site-header .widget-area:last-child {
    margin-right: 0;
  }
}

.header-widget-area .search-form {
  height: 53px;
  margin: 20px auto 0;
  width: 300px;
}
@media screen and (min-width: 320px) {
  .header-widget-area .search-form {
    float: right;
    margin-top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .header-widget-area .genesis-nav-menu a {
    color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .header-widget-area .genesis-nav-menu a {
    color: #545454;
  }
}

.header-widget-area .genesis-nav-menu a:hover,
.header-widget-area .genesis-nav-menu .current-menu-item > a,
.header-widget-area .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #545454;
}

.header-widget-area .genesis-nav-menu .sub-menu a {
  background-color: #ebebeb;
  color: #545454;
}

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu .menu-item {
  display: block;
  position: relative;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .genesis-nav-menu .menu-item {
    display: inline-block;
  }
}

.genesis-nav-menu li {
  font-size: 14px;
}

.genesis-nav-menu a {
  color: #fff;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 15px 20px;
  position: relative;
  width: 100%;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #8f8f8f;
}

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu a:focus {
  outline: #a1a1a1 dotted thin;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
  color: #8f8f8f;
}

.genesis-nav-menu > .menu-item > a {
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .genesis-nav-menu > .menu-item > a {
    border-bottom: 0;
  }
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-nav-menu .menu-item:hover {
  position: relative;
}

.genesis-nav-menu .sub-menu {
  background-color: #121212;
  clear: both;
  display: none;
  opacity: 1;
  position: static;
}
@media screen and (min-width: 768px) {
  .genesis-nav-menu .sub-menu {
    display: block;
    left: -9999px;
    margin: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 200px;
    z-index: 99;
  }
}

.genesis-nav-menu .sub-menu a {
  border: 0;
}
@media screen and (min-width: 768px) {
  .genesis-nav-menu .sub-menu a {
    letter-spacing: 0;
    width: 200px;
  }
}

.genesis-nav-menu .sub-menu .sub-menu a {
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .genesis-nav-menu .sub-menu .sub-menu {
    margin: -54px 0 0 199px;
  }

  .genesis-nav-menu .menu-item:hover {
    position: static;
  }
}
/* Mobile Menu Toggle
--------------------------------------------- */
.menu-primary {
  display: none;
  position: relative;
}
@media screen and (min-width: 768px) {
  .menu-primary {
    display: inline-block;
  }
}

.menu-toggle {
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 0 auto;
  overflow: hidden;
  padding: 9px;
  visibility: visible;
  background-color: transparent;
  border: 0;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: block;
    visibility: hidden;
  }
}
.menu-toggle:focus {
  background-color: transparent;
  color: #fff;
}

.sub-menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .sub-menu-toggle {
    display: block;
    visibility: hidden;
  }
}

.menu-toggle:before {
  content: "\2630";
}

.menu-toggle.menu-toggle-activated:before {
  content: "\2637";
}

.sub-menu-toggle:before {
  content: "+";
}

.sub-menu-toggle.menu-toggle-activated:before {
  content: "-";
}

@media screen and (min-width: 768px) {
  button.menu-toggle {
    display: none;
  }
}
/* Site Header Navigation
--------------------------------------------- */
.site-header .sub-menu {
  border-top: 1px solid #ebebeb;
}

.site-header .sub-menu .sub-menu {
  margin-top: -53px;
}

/* Primary & Footer Navigation
--------------------------------------------- */
.nav-primary,
.nav-footer {
  background-color: #121212;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .nav-primary {
    background-color: #fff;
    text-align: right;
  }
}

.nav-primary a:hover,
.nav-primary .current-menu-item > a,
.nav-footer a:hover,
.nav-footer .current-menu-item > a {
  color: #8f8f8f;
}

.nav-primary .sub-menu a:hover {
  color: #8f8f8f;
}

/* Dropdown Menu
--------------------------------------------- */
.menu .menu-item:focus {
  position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.wpacc-hover > ul.sub-menu {
  left: auto;
  opacity: 1;
}

.highlight {
  border: 2px solid #000;
}

/*
Content Area
---------------------------------------------------------------------------------------------------- */
/* Titles
--------------------------------------------- */
.entry-title {
  margin-bottom: 6px;
}

.entry-title a {
  border: 0;
  color: #1c1c1c;
}

.entry-title a:hover {
  color: #545454;
}

.widgettitle {
  letter-spacing: 1px;
  margin: 10px 0 24px;
  text-transform: uppercase;
}

.sidebar .widgettitle a {
  border: 0;
  color: #1c1c1c;
}

.archive-title {
  color: #1c1c1c;
  margin-bottom: 24px;
}

/* Entries
--------------------------------------------- */
.sticky.entry {
  border-top: 1px solid #0964dd;
}

.entry {
  background: #fff;
  padding: 40px 25px;
  margin-bottom: 40px;
  word-wrap: break-word;
}
@media screen and (min-width: 1024px) {
  .entry {
    padding: 40px;
  }
}

.entry-content a {
  color: #0964dd;
}

.entry-content a:hover {
  color: #1c1c1c;
}

.entry-content .attachment a,
.entry-content .gallery a {
  border: 0;
}

.entry-content ol,
.entry-content ul,
.quote-caption {
  margin-bottom: 26px;
}

.entry-content ol ol,
.entry-content ul ul,
.entry-content ol ul,
.entry-content ul ol {
  margin-bottom: 0;
}

.entry-content ol li,
.entry-content ul li {
  margin-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ul.icons-ul > li {
  list-style-type: none;
}

.entry-content ol ol,
.entry-content ul ul,
.entry-content .wp-caption p {
  margin-bottom: 0;
}

.entry-content code {
  background-color: #1c1c1c;
  color: #d9d9d9;
}

/* ## Entry Meta
--------------------------------------------- */
.entry-meta {
  color: #545454;
  font-size: 13px;
}

.entry-header .entry-meta {
  margin: 0 0 24px 0;
  text-align: left;
}

.entry-footer .entry-meta {
  margin: 0 -40px;
  padding: 32px 40px 8px;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
  display: block;
}

/* Featured Image
--------------------------------------------- */
.featured-image {
  margin: 20px 0;
}

/* Pagination
--------------------------------------------- */
.pagination,
.posts-navigation {
  margin-bottom: 30px;
}

.pagination .nav-links {
  display: inline;
}

.pagination .nav-links a,
.pagination .nav-links .current {
  background: #1c1c1c;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
}

.pagination .nav-links a:hover {
  background: #fff;
  border: 1px solid #1c1c1c;
  color: #1c1c1c;
}

.pagination .nav-links .current {
  background: #545454;
  border: 1px solid #fff;
  color: #fff;
  cursor: none;
}

.entry-pagination {
  margin: 30px 0;
}

/* Comments
--------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
  background: #fff;
  padding: 40px;
  margin-bottom: 40px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 12px;
}

.entry-comments ul.children {
  margin-left: 40px;
}

.comment-list li,
.ping-list li {
  list-style-type: none;
  margin-top: 24px;
}

.comment-meta,
.entry-comments
.comment,
.entry-comments .comment-reply {
  margin-bottom: 40px;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
  margin-bottom: 0;
}

.comment .avatar {
  margin: 0 16px 24px 0;
}

.form-allowed-tags {
  font-size: 13px;
}

/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  background-color: rgba(9, 100, 221, 0.9);
  color: #fff;
  font-size: 13px;
  padding: 40px 0;
  text-align: center;
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover {
  border-bottom: 0;
}

.site-footer p {
  margin: 0;
}

/*
Accessibility Extras - Taken from the Leiden theme & Genesis Accessible plugin (genesis-accessible.org)
---------------------------------------------------------------------------------------------------- */
/*
* Skiplinks
* Hide visually but not from screen readers
* and keyboard users
--------------------------------------------- */
.more-link {
  position: relative;
}

.screen-reader-text,
.screen-reader-text span,
.search-form label {
  clip: rect(0, 0, 0, 0);
  height: 0;
  position: absolute;
  width: 0;
}

.screen-reader-shortcut {
  clip: rect(0, 0, 0, 0);
  left: 10px;
  position: absolute;
  top: 10px;
}

.screen-reader-shortcut:focus {
  background: #fff;
  clip: auto;
  display: block;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  z-index: 100000;
}

.wpacc-genesis-skip-link li,
.genwpacc-genesis-skip-link li {
  height: 0;
  width: 0;
  list-style: none;
}

/* Display outline on focus */
:focus {
  color: #1c1c1c;
  outline: #a1a1a1 dotted thin;
}

/*
Print Media Query
---------------------------------------------------------------------------------------------------- */
@media print {
  * {
    color: #000;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after,
  .site-title > a:after {
    content: "";
  }

  blockquote,
  pre {
    border: 1px solid #8f8f8f;
    page-break-inside: avoid;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  .content,
  .content-sidebar {
    width: 100%;
  }

  button,
  input,
  nav,
  select,
  textarea,
  .pagination,
  .backstretch,
  .breadcrumb,
  .call-to-action-bar,
  .comment-edit-link,
  .comment-form,
  .comment-list .reply a,
  .comment-respond,
  .edit-link,
  .entry-comments-link,
  .entry-footer,
  .genesis-box,
  .header-widget-area,
  .home-top,
  .home-welcome,
  .footer-widgets,
  .nav-primary,
  .nav-footer,
  .post-edit-link,
  .sidebar,
  .site-footer,
  .site-header,
  .utility-bar {
    display: none;
  }

  .title-area {
    text-align: center;
    width: 100%;
  }

  .site-title > a {
    margin: 0;
    text-indent: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3;
  }

  img {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  blockquote,
  pre,
  table {
    page-break-inside: avoid;
  }

  dl,
  ol,
  ul {
    page-break-before: avoid;
  }

  thead {
    display: table-header-group;
  }

  .table td,
  .table th {
    background-color: #fff;
  }

  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #d9d9d9;
  }
}
