/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.author-box .avatar,
.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

/* WordPress
--------------------------------------------- */

address {
	margin-bottom: 24px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 24px;
}

.wp-caption-text {
	font-size: $wp-caption-font-size;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.wp-caption {
	max-width: 100%;
}

.widget_calendar table td {
	padding: 5px;
}

/* Media Gallery
--------------------------------------------- */

.gallery {
	@include outer-container;
}

.gallery-item {
	display: inline-block;
	line-height: 0;
	list-style: none;
	margin: 0 0 2.35765%;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 100%;

	@include media($phone-up) {

		.gallery-columns-0 &,
		.gallery-columns-1 &,
		.gallery-col-0 &,
		.gallery-col-1 & {
			@include fill-parent();
		}

		.gallery-columns-2 &,
		.gallery-col-2 & {
			@include span-columns(6);
			@include omega(2n);
		}

		.gallery-columns-3 &,
		.gallery-col-3 & {
			@include span-columns(4);
			@include omega(3n);
		}

		.gallery-columns-4 &,
		.gallery-col-4 & {
			@include span-columns(3);
			@include omega(4n);
		}

		.gallery-columns-5 &,
		.gallery-col-5 & {
			@include span-columns(2.4);
			@include omega(5n);
		}

		.gallery-columns-6 &,
		.gallery-col-6 & {
			@include span-columns(2);
			@include omega(6n);
		}

		.gallery-columns-7 &,
		.gallery-col-7 & {
			@include span-columns(1.71);
			@include omega(7n);
		}

		.gallery-columns-8 &,
		.gallery-col-8 & {
			@include span-columns(1.5);
			@include omega(8n);
		}

		.gallery-columns-9 &,
		.gallery-col-9 & {
			@include span-columns(1.33);
			@include omega(9n);
		}
	}

	.gallery-caption {
		@include transition(all, 0.2s ease-in-out);
		background: transparentize($black, 0.5);
		color: $white;
		font-size: $gallery-caption-font-size;
		line-height: 1.65;
		max-height: 50%;
		opacity: 0;
		overflow: hidden;
		padding: 10px;
		position: absolute;
		visibility: hidden;
		width: 100%;
	}

	&:hover .gallery-caption {
		@include transform(translate(0, -100%));
		visibility: visible;
		opacity: 1;
	}

}

.gallery img {
	width: 100%;
	margin: 0 auto;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.author-box,
.archive-description {
	background-color: $author-box-background;
	color: lighten($black, 11);
	margin-bottom: 40px;
	padding: 40px;
}

.author-box-title {
	font-size: $box-title-size;
	margin-bottom: 10px;
}

.author-box a {
	border-bottom: 1px solid lighten($black, 85);
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}