/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background: $white;
}

.site-header .wrap {
	padding: 20px 0;
}

.site-header > .wrap {
	@include media($phone-up) {
		padding: 20px 0 0;
	}
	@include media($tablet-tall-up){
		padding: 20px 0;
	}
	
}

/* Title Area
--------------------------------------------- */

.title-area {
	font-weight: 700;
	margin: 0 auto;
	padding: 10px 0 15px;
	text-align: center;

		@include media($tablet-tall-up) {
		@include span-columns(4);
		float:left;
		margin-top: 10px;
		padding: 0;
		text-align: left;
	}

/*	@include media($tablet-wide-up) {
		text-align: left;
		width: 50%;
	}*/
}

.site-title {
	letter-spacing: 1px;
	line-height: 1;
	margin: 0 0 8px;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
	border: 0;
	color: lighten($black, 11);
	font-family: $sans-serif-alt;
	font-size: $site-title-font-size;
}

.site-description {
	color: lighten($black, 33);
	font-size: $base-font-size;
	line-height: 1;
	margin: 0;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-description,
.header-image .site-title {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: $logo-width;

	@include media ($phablet-up) {
		margin: 0 auto;
	}
	@include media($tablet-tall-down) {
		margin: 0 auto;
	}
}

/* Logo, hide text */

.header-image .site-title > a {
	$logo-height: $logo-width * .24;
	background: url(images/logo.png) no-repeat center;
	background-size: $logo-width $logo-height !important;
	float: left;
	min-height: $logo-height;
	width: 100%;

	@include media($phablet-up) {
		$logo-width: 400px;
		width: $logo-width;
	}
	@include media($tablet-tall-up) {
		background: url(images/logo.png) no-repeat left;
		background-size: $logo-width $logo-height !important;
	}
}

/* Header Right Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: center;
  width: 100%;

  @include media($tablet-tall-up) {
  		text-align: right;
  		@include span-columns(8);
  		@include omega();
  	}
}

.header-widget-area .search-form {
	height: 53px;
	margin: 20px auto 0;
	width: 300px;

	@include media($phone-up) {
		float: right;
		margin-top: 0;
		width: 100%
	}
}

.header-widget-area .genesis-nav-menu a {
	@include media ($phone-up) {
		color: $white;
	}

	@include media ($tablet-tall-up) {
		color: lighten($black, 33);
	}
}

.header-widget-area .genesis-nav-menu a:hover,
.header-widget-area .genesis-nav-menu .current-menu-item > a,
.header-widget-area .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: lighten($black, 33);
}

.header-widget-area .genesis-nav-menu .sub-menu a {
	background-color: lighten($black, 92);
	color: lighten($black, 33);
}
