/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu .menu-item {
	display: block;
	position: relative;
	text-align: left;

	@include media($tablet-tall-up) {
		display: inline-block;
	}
}

.genesis-nav-menu li {
	font-size: 14px;
}

.genesis-nav-menu a {
	color: $white;
	display: inline-block;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 15px 20px;
	position: relative;
	width: 100%;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: lighten($black, 56);
}

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu a:focus {
	outline: lighten($black, 63) dotted thin;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: lighten($black, 56);
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;

	@include media($tablet-tall-up) {
		border-bottom: 0;
	}
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu .menu-item:hover {
	position: relative;
}

.genesis-nav-menu .sub-menu {
	background-color: lighten($black, 7);
	clear: both;
	display: none;
	opacity: 1;
	position: static;

	@include media($tablet-tall-up) {
		display: block;
		left: -9999px;
		margin: 0;
		opacity: 0;
		position: absolute;
		-webkit-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		-ms-transition: opacity 0.4s ease-in-out;
		-o-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;
		width: 200px;
		z-index: 99;
	}
}

.genesis-nav-menu .sub-menu a {
	border: 0;

	@include media($tablet-tall-up) {
		letter-spacing: 0;
		width: 200px;
	}
}

.genesis-nav-menu .sub-menu .sub-menu a {
	padding-left: 20px;
}

@include media($tablet-tall-up) {

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: -54px 0 0 199px;
	}

	.genesis-nav-menu .menu-item:hover {
		position: static;
	}

}

/* Mobile Menu Toggle
--------------------------------------------- */

.menu-primary {
	display: none;
	position: relative;

	@include media($tablet-tall-up) {
		display: inline-block;
	}
}

.menu-toggle {
	color: $white;
	display: block;
	font-size: 30px;
	margin: 0 auto;
	overflow: hidden;
	padding: 9px;
	visibility: visible;
	background-color: transparent;
	border: 0;

	@include media($tablet-tall-up) {
		display: block;
		visibility: hidden;
	}

	&:focus {
		background-color: transparent;
		color: #fff;
	}
}

.sub-menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	font-size: $secondary-font-size;
	padding: 16px;

	@include media($tablet-tall-up) {
		display: block;
		visibility: hidden;
	}
}

.menu-toggle:before {
	content: "\2630";
}

.menu-toggle.menu-toggle-activated:before {
	content: "\2637";
}

.sub-menu-toggle:before {
	content: "+";
}

.sub-menu-toggle.menu-toggle-activated:before {
	content: "-";
}

@include media($tablet-tall-up) {

	button.menu-toggle {
		display: none;
	}

}

/* Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid lighten($black, 92);
}

.site-header .sub-menu .sub-menu {
	margin-top: -53px;
}

/* Primary & Footer Navigation
--------------------------------------------- */

.nav-primary,
.nav-footer {
	background-color: lighten($black, 7);
	text-align: center;
}

.nav-primary {
	@include media($tablet-tall-up) {
		background-color: #fff;
		text-align: right;
	}
}

.nav-primary a:hover,
.nav-primary .current-menu-item > a,
.nav-footer a:hover,
.nav-footer .current-menu-item > a {
	color: lighten($black, 56);
}

.nav-primary .sub-menu a:hover {
	color: lighten($black, 56);
}

/* Dropdown Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.wpacc-hover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.highlight {
	border: 2px solid #000;
}