/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: rgba($primary-color, .9);
	color: $white;
	font-size: $footer-font-size;
	padding: 40px 0;
	text-align: center;
}

.site-footer a {
	color: $white;
}

.site-footer a:hover {
	border-bottom: 0;
}

.site-footer p {
	margin: 0;
}