// Colors
$black: #000;
$white: #fff;

$primary-color: #0964dd;

$logo-width: 300px;

$comments-background-color: $white;
$author-box-background: lighten($black, 92);

// Widths
	//------------------------------------------------------------------------------
		$max-width: 1140px;
	// Global Screen Sizes
	//------------------------------------------------------------------------------
		$phone: $max-width - 820px; // 320px;
		$phablet: $max-width - 726px; // 414px;
		$tablet-tall: $max-width - 372px; // 768px;
		$tablet-wide: $max-width - 116px; // 1024px
		$large-screen: $max-width + 40px; // 1180px
	// Global Breakpoints
	//------------------------------------------------------------------------------
		$phone-up: new-breakpoint(min-width $phone 12);
		$phone-down: new-breakpoint(max-width $phone 12);
		
		$phablet-up: new-breakpoint(min-width $phablet 12);
		$phablet-down: new-breakpoint(max-width $phablet 12);
		
		$tablet-tall-up: new-breakpoint(min-width $tablet-tall 12);
		$tablet-tall-down: new-breakpoint(max-width $tablet-tall 12);
		
		$tablet-wide-up: new-breakpoint(min-width $tablet-wide 12);
		$tablet-wide-down: new-breakpoint(max-width $tablet-wide 12);
		
		$large-screen-up: new-breakpoint(min-width $large-screen 12);
		$large-screen-down: new-breakpoint(max-width $large-screen 12);
		
// Global Max Width Settings
//------------------------------------------------------------------------------
$base-wrap-max-width: $max-width - 372px; // 768px;
$wrap-max-width-medium: $max-width - 180px; // 960px
$wrap-max-width-large: $max-width;

// Global Font Families
//------------------------------------------------------------------------------
$sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif-alt: Roboto Condensed, "Helvetica Neue", Helvetica, Arial, sans-s;
$serif: Roboto Slab, serif;
$mono: "Courier 10 Pitch", Courier, monospace;
// Base Font Families
//------------------------------------------------------------------------------
$base-font-family: $sans-serif;
$heading-font-family: $sans-serif;
$blockquote-font-family: $serif;
// Base Font Sizes
//------------------------------------------------------------------------------
$base-font-size: 15px;
$base-line-height: 1.625;
$heading-line-height: 1.25;
$secondary-font-size: floor(modular-scale(-1, $base-font-size, $major-second));
$site-title-font-size: floor(modular-scale(5, $base-font-size, $major-second));
// Heading Font Properties
//------------------------------------------------------------------------------
$h1-font-size: floor(modular-scale(6, $base-font-size, $major-second));
$h2-font-size: floor(modular-scale(5, $base-font-size, $major-second));
$h3-font-size: floor(modular-scale(4, $base-font-size, $major-second));
$h4-font-size: floor(modular-scale(3, $base-font-size, $major-second));
$h5-font-size: floor(modular-scale(2, $base-font-size, $major-second));
$h6-font-size: floor(modular-scale(1, $base-font-size, $major-second));
// Header Font Properties
//------------------------------------------------------------------------------
$header-font-family: $heading-font-family;
// Title Font Properties
//------------------------------------------------------------------------------
$loop-title-size: $h1-font-size;
$box-title-size: $h4-font-size;
$widget-title-size: $h6-font-size;
// Menu Font Properties
//------------------------------------------------------------------------------
$menu-toggle-size: $h2-font-size;
$nav-font-size: $secondary-font-size;
$subnav-font-size: $secondary-font-size;
$pagination-font-size: $secondary-font-size;
// Form Font Properties
//------------------------------------------------------------------------------
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
// Entry Font Properties
//------------------------------------------------------------------------------
$gallery-caption-font-size: $secondary-font-size - 2;
$wp-caption-font-size: $secondary-font-size - 2;
// Footer Font Properties
//------------------------------------------------------------------------------
$footer-font-size: $secondary-font-size;
