/* #
	Theme Name: Utility Pro
	Description: No-nonsense, functional child theme created for the Genesis Framework.
	Author: Carrie Dils
	Author URI: http://www.carriedils.com/
	Version: 1.1.1
	Tags: black, purple, green, blue, red, one-column, two-columns, fixed-width, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, rtl-language-support, translation-ready
	Template: genesis
	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
	Text Domain: utility-pro
*/

/* # Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Theme Colors
		- Purple
		- Green
		- Red
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Sidebar
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Media Gallery
		- Genesis
	- Widgets
		- Utility Bar
		- Home Welcome
		- Home Gallery
		- Call to Action
		- Featured Page and Featured Post
		- Footer Widgets
	- Plugins
		- Better Font Awesome
		- Genesis eNews Extended
		- Gravity Forms
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Mobile Menu Toggle
		- Header Navigation
		- Primary & Secondary Navigation
	- Content Area
		- Titles
		- Entries
		- Featured Image
		- Pagination
		- Comments
	- Sidebars
	- Site Footer
	- Accessibility Extras
	- Print Media Query
*/

/* Import External Libraries */
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

/* Import Theme Partials */
@import "partials/reset";
@import "partials/variables";
@import "partials/defaults";
@import "partials/layout";
@import "partials/common-classes";
@import "partials/widgets";
@import "partials/plugins";
@import "partials/header";
@import "partials/navigation";
@import "partials/content-area";
@import "partials/site-footer";
@import "partials/accessibility";
@import "partials/print-media-queries";
